<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6">
				<img src="/images/moldy-logo-main.png" class="logo" alt="moldy">
			</div>
			<div class="col-xs-6">
				<h1>
					<img src="/images/h1-moldy.png" class="logo-type" alt="moldy">
					<aside>An open source JavaScript model API for the browser + server that is actually worth using.</aside>
				</h1>
			</div>
		</div>
	</div>
</header>

<div class="container-fluid">

	<section>
		<header>
			<h2>Installation</h2>
			<aside><small class="muted">You’ll need Node.js installed ... obviously</small></aside>
		</header>
		<div class="main">
			<img src="/images/installation-terminal.png">
		</div>
	</section>

	<section>
		<header>
			<h2>Basics</h2>
			<aside><small class="muted">Use moldy to create a data model with strongly
typed properties to keep your data clean and santized</small></aside>
		</header>
		<div class="main">
			<img src="/images/code-basics.png">
		</div>
	</section>

	<section>
		<header>
			<h2>CRUD</h2>
			<aside><small class="muted">For CRUD to work as you would expect,
you need to `use` a moldy adapter like `moldy-ajax-adapter`</small></aside>
		</header>
		<div class="main">
			<img src="/images/code-crud.png">
		</div>
	</section>

	<section>
		<header>
			<h2>Adapters</h2>
			<aside><small class="muted">Moldy uses a middleware layer for the CRUD feature
to integrate adapters like `ajax`, `mongo` and `sockets` (write your own)</small></aside>
		</header>
		<div class="main">
			<img src="/images/code-adapters.png">
		</div>
	</section>

	<section>
		<header>
			<h2>Browser + Server</h2>
			<aside><small class="muted">That’s right! Finally a model library that makes it possible to share a single JSON schemas &amp; use the same API in both worlds!</small></aside>
		</header>
		<div class="main">
			<img src="/images/code-browser-server.png">
		</div>
	</section>


</div>